<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href="#"><img class="rounded-circle" src="/img/perfil%20esteban.jpg" style="width: 35px;height: 35px;margin-left: -10px;"></a></li>
                <li id="divisor"><span class="span1" style="margin-left: 0px;font-weight: bold;font-size: 15px;color: var(--bs-red);">General</span> </li>
                <li> <a class="list1" href="/metricas"><i class="fa fa-pie-chart" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Métricas</span></a></li>
                <li> <a class="list1" href="/panel"><i class="fa fa-th" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Panel Ticket</span></a></li>
                <li> <a class="list1" href="/nuevo_ticket"><i class="fa fa-ticket" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Nuevo Ticket</span></a></li>
                <li> <a class="list1" href="/archivo"><i class="fa fa-archive" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Archivo</span></a></li>
                <li id="divisor-2"><span class="span1" style="margin-left: 0px;font-weight: bold;font-size: 15px;color: var(--bs-red);">Administrar mesa de soporte</span> </li>
                <li> <a class="list1" href="/nuevo_tipo_incidencia"><i class="fa fa-plus-square" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Nuevo Tipo Incidencia</span></a></li>
                <li> <a class="list1" href="/lista_usuarios"><i class="fa fa-user" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Lista de usuarios</span></a></li>
                <li> <a class="list1" href="/administrar_privilegios"><i class="fa fa-gear" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Administrar privilegios</span></a></li>
                <li id="divisor-1"><span class="span1" style="margin-left: 0px;font-weight: bold;font-size: 15px;color: var(--bs-red);">Mi cuenta</span> </li>
                <li> <a class="list1" href="/ayuda"><i class="fa fa-question-circle" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Ayuda</span></a></li>
                <li> <a class="list1" href="/login"><i class="fa fa-sign-out" style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Cerrar Sesión</span></a></li>
            </ul>
        </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/Sidebar-Menu.js"></script>

