<body>
  <div id="wrapper">
    <div id="sidebar-wrapper" style="background: url(&quot;/img/sidebar_circulos.png&quot;);">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <div style="margin-top:30px"> <img id="foto_sidebar" data-bs-toggle="modal" data-bs-target="#myModalSidebar"
              class="rounded-circle" style="cursor:pointer;width: 70px;height: 70px;margin-left: 65px;"> </div>
        </li>
        <li>
          <h4 style="color:white;margin-left:-20px;margin-top:20px;text-align: center;" id="username_sidebar"> </h4>
        </li>
        <li class="rounded-pill"id="primary-hover"> <a class="list1" href="/tickets/nuevo" ><i class="fa fa-ticket" style="margin-left: -20px; color:black"></i><span
          class="span1" style="margin-left: 20px;color:black">Nuevo Ticket</span></a></li>
        <li id="divisor"> <button style="background-color: transparent;border-width: 0px;" type="button"
            class="collapsible"> <span class="span1"
              style="margin-left: 0px;font-weight: bold;font-size: 15px;color: var(--bs-red);">General</span></button>
          <ul style="display: block;list-style: none;margin-left:-20px" class="content">
            <li id="metricas"> <a class="list1" href="/metricas"><i class="fa fa-pie-chart"
                  style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Métricas</span></a>
            </li>
            <li> <a class="list1" href="/panel"><i class="fa fa-th" style="margin-left: -20px;"></i><span class="span1"
                  style="margin-left: 20px;">Panel Ticket</span></a></li>
            <li id="backlog"> <a class="list1" href="/tickets/lista"><i class="fa fa-server"
                  style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Backlog</span></a></li>
            <li id="archivo"> <a class="list1" href="/tickets/archivo"><i class="fa fa-archive"
                  style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Archivo</span></a></li>
          </ul>
        </li>
        <li id="divisor-2"> <button style="background-color: transparent;border-width: 0px;" type="button"
            class="collapsible"> <span class="span1"
              style="margin-left: 0px;font-weight: bold;font-size: 15px;color: var(--bs-red);">Administrar mesa de
              soporte</span> </button>
          <ul style="display: block;list-style: none;margin-left:-20px" class="content">
            <li> <a class="list1" href="/usuario/panelAdmin"><i class="fa fa-pencil-square-o"
                  style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;"> Panel Administrativo
                </span></a></li>
            <li> <a class="list1" href="/tipo_incidencia"><i class="fa fa-plus-square"
                  style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;"> Tipos de Incidencia
                </span></a></li>
            <li> <a class="list1" href="/usuario/lista"><i class="fa fa-user" style="margin-left: -20px;"></i><span
                  class="span1" style="margin-left: 20px;">Lista de Usuarios</span></a></li>
            <li id="admin_privilegios"> <a class="list1" href="/administrar_privilegios"><i class="fa fa-gear"
                  style="margin-left: -20px;"></i><span class="span1" style="margin-left: 20px;">Administrar
                  Roles</span></a></li>
          </ul>
        </li>
        <li id="divisor-1"> <button style="background-color: transparent;border-width: 0px;" type="button"
            class="collapsible"> <span class="span1"
              style="margin-left: 0px;font-weight: bold;font-size: 15px;color: var(--bs-red);">Mi cuenta</span></button>
          <ul style="display: block;list-style: none;margin-left:-20px" class="content">
            <li> <a class="list1" href="/ayuda"><i class="fa fa-question-circle" style="margin-left: -20px;"></i><span
                  class="span1" style="margin-left: 20px;">Ayuda</span></a></li>
            <li> <a class="list1" href="/usuario/logout"><i class="fa fa-sign-out" style="margin-left: -20px;"></i><span
                  class="span1" style="margin-left: 20px;">Cerrar Sesión</span></a></li>
          </ul>
        </li>
      </ul>
    </div>

    
    <style>
      .modal-backdrop.show {
        opacity: 0.2;
      }

    </style>
<style>
  #snackbar2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  
  </style>
  <div id="snackbar2"> Nombre Actualizado </div>
    <div style="color:black">
      <!-- The Modal -->
      <div class="modal fade" id="myModalSidebar">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <div>
                
                  <img id="foto_user"
                    style="width:60px;height: 60px;border-radius: 50%;margin-right:20px;" />
                
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>"></input>
                
              </div>




              <h4><input type=text id="username" class="form-control" required /> </span></h4>

              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <style>
              .image-upload>input {
                display: none;
              }
            </style>

            <div id="Id_Usuario" style="display:none"></div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  Rol:
                </div>
                <div class="col">
                  <div id="rol_user"></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  Correo:
                </div>
                <div class="col">
                  <div id="email_user"></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  Tickets Historicos:
                </div>
                <div class="col">
                  <div id="total"></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  Tickets Actuales:
                </div>
                <div class="col">
                  <div id="actual"> </div>
                </div>
              </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" id="Actualizar_Perfil" class="btn btn-success">Guardar Cambios</button>
            </div>

          </div>
        </div>
      </div>

      <script src="/js/script_popup_profile.js"></script>