<%- include('includes/header.ejs') %>
    <%- include('includes/sidebar.ejs') %>
        <div class="page-content-wrapper" style="color: var(--bs-teal);">
            <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
                <div class="row" style="background: var(--bs-red);">
                    <div class="col-sm-12 col-md-12 offset-2 offset-sm-1 offset-md-0 offset-lg-0"
                        style="color: var(--bs-purple);background: #FF595A;">
                        <div></div>
                        <h1 style="color: var(--bs-body-bg);margin-left: 60px;">Ayuda</h1>
                    </div>
                </div>
            </div>


            <script>
                $(function () {
                    $('#grid').gridstrap();
                });
            </script>

            <div class="row"
                style="padding: 0px;padding-top: 30px;margin: 0px 50px;margin-top: 20px;box-shadow: 0px 0px 17px 5px rgba(122,122,122,0.45);">
                <div class="col">
                    <div class="row">
                        <div class="col" style="margin-bottom: 30px;">
                            <h1 style="color: rgb(0,0,0);font-size: 50px;">Video tutoriales</h1>
                        </div>
                    </div>
                    <class class="row" style="margin-top: 0px;margin-bottom: 20px;margin-right: 20px;margin-left: 20px;">
                        
                        <!--Modal1-->
                        <div class="col-4" style="padding: 20px; cursor: pointer;"><img style="width: 100%;height: 90%;" data-bs-toggle="modal"
                                data-bs-target="#Modal1" src="/img/Crear_Ticket.png" ">
                                
                            <h4 class="text-center text-dark" style="border-color: rgb(0,0,0);">Crea nuevo ticket</h4>
                        </div>
                        
                        <!--Modal2-->
                        <div class="col-4" style="padding: 20px; cursor: pointer;"><img style="width: 100%;height: 90%;" data-bs-toggle="modal"
                                data-bs-target="#Modal2" src="/img/Modificar_Ticket.png">
                            <h4 class="text-center text-dark" style="border-color: rgb(0,0,0);">Como modificar un ticket
                            </h4>
                        </div>
                        <!--Modal3-->
                        <div class="col-4" style="padding: 20px; cursor: pointer;"><img style="width: 100%;height: 90%;" data-bs-toggle="modal"
                                data-bs-target="#Modal3" src="/img/Archivar.png">
                            <h4 class="text-center text-dark" style="border-color: rgb(0,0,0);">Archivar un ticket</h4>
                        </div>
                        <!--Modal4-->
                        <div class="col-4" style="padding: 20px; cursor: pointer;"><img style="width: 100%;height: 90%;" data-bs-toggle="modal"
                                data-bs-target="#Modal4" src="/img/Reporte.png">
                            <h4 class="text-center text-dark" style="border-color: rgb(0,0,0);">Generar un reporte</h4>
                        </div>
                        <!--Modal5-->
                        <div class="col-4" style="padding: 20px; cursor: pointer;"><img style="width: 100%;height: 90%;" data-bs-toggle="modal"
                                data-bs-target="#Modal5" src="/img/Filtros.png">
                            <h4 class="text-center text-dark" style="border-color: rgb(0,0,0);">Aplica filtros</h4>
                        </div>
                        <!--Modal6-->
                        <div class="col-4" style="padding: 20px; cursor: pointer;"><img style="width: 100%;height: 90%;" data-bs-toggle="modal"
                            data-bs-target="#Modal6" src="/img/Incidencia.png">
                            <h4 class="text-center text-dark" style="border-color: rgb(0,0,0);">Crear tipo de incidencia</h4>
                    </div>
                </class>
                </div>
            </div>
        </div>
        <!--Modal 1-->
        <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Como crear un ticket:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" style="  display: flex;
        justify-content: center;
        align-items: center;">
                        <iframe width="679" height="383" src="https://www.youtube.com/embed/4J69uNPKprs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal 2-->
        <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar un ticket:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" style="  display: flex;
        justify-content: center;
        align-items: center;">
                        <iframe width="679" height="383" src="https://www.youtube.com/embed/-x_lwWFL-yU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 3-->
        <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Como archivar un ticket:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" style="  display: flex;
                justify-content: center;
                align-items: center;">
                        <iframe width="679" height="383" src="https://www.youtube.com/embed/aN7e-xK-bGg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal 4-->
        <div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Generar un reporte: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" style="  display: flex;
                justify-content: center;
                align-items: center;">
                        <iframe width="679" height="383" src="https://www.youtube.com/embed/qNIoK-KK0r8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 5-->
        <div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aplicar filtros: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" style="  display: flex;
                        justify-content: center;
                        align-items: center;">
                        <iframe width="679" height="383" src="https://www.youtube.com/embed/sqF5sEZnJt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 6-->
        <div class="modal fade" id="Modal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear y modificar tipo de incidencia: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" style="  display: flex;
                        justify-content: center;
                        align-items: center;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ixQu3qh1pyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('includes/foot.ejs') %>