<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col" style="color: var(--bs-purple);background: #FF595A;">
                <div></div>
                <h1 style="color: var(--bs-white);margin-left: 20px;">Lista de Usuarios</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: 0px 25px;margin-top: 24px;">
            <div class="col">
                <div class="row">
                    <div class="col" style="text-align: center;padding: 12px 0px;background: transparent;"><span style="color: rgb(0,0,0);text-align: center;font-weight: bold;font-size: 21px;">Nombre</span></div>
                    <div class="col" style="text-align: center;padding: 12px 0px;background: transparent;"><span style="color: rgb(0,0,0);font-weight: bold;font-size: 21px;">Correo</span></div>
                    <div class="col" style="text-align: center;padding: 12px 0px;background: transparent;"><span style="color: rgb(0,0,0);font-weight: bold;font-size: 21px;">Rol</span></div>
                    <div class="col" style="text-align: center;padding: 12px 0px;background: transparent;"><span style="color: rgb(0,0,0);font-weight: bold;font-size: 21px;">Tickets Actuales</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
                <div class="row" style="margin: 20px -12px;border-radius: 5px;box-shadow: 0px 0px 9px rgba(147,147,147,0.55);padding: 5px;">
                    <div class="col" style="font-size: 22px;text-align: center;"><span style="color: rgb(0,0,0);">Julio Martínez</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">jmartinez@zeb.mx</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">Técnico de Soporte</span></div>
                    <div class="col" style="font-size: 21px;text-align: center;"><span style="color: rgb(0,0,0);">21</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>