<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col-sm-12 col-md-12 offset-2 offset-sm-1 offset-md-0 offset-lg-0" style="color: var(--bs-purple);background: #FF595A;">
                <div></div>
                <h1 style="color: var(--bs-body-bg);margin-left: 60px;">Métricas</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 0px;">
            <div class="col offset-sm-1 offset-lg-0" style="text-align: center;">
                <div class="row" style="margin-top: 30px;">
                    <div class="col offset-2 offset-sm-0 offset-lg-0 offset-xl-0 offset-xxl-0">
                        <div class="card" style="box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 262px;">
                                <h4 class="card-title" style="color: rgb(0,0,0);text-align: left;">Status</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col offset-sm-1 offset-xl-0" style="text-align: center;">
                <div class="row" style="margin-top: 30px;">
                    <div class="col offset-2 offset-sm-0 offset-lg-0 offset-xl-0 offset-xxl-0">
                        <div class="card" style="box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 262px;">
                                <h4 class="card-title" style="color: rgb(0,0,0);text-align: left;">Procedencia</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col offset-sm-1 offset-lg-0" style="text-align: center;">
                <div class="row" style="margin-top: 30px;">
                    <div class="col offset-2 offset-sm-0 offset-lg-0 offset-xl-0 offset-xxl-0">
                        <div class="card" style="box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 262px;">
                                <h4 class="card-title" style="color: rgb(0,0,0);text-align: left;">Tipo de Incidencia</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 offset-sm-1 offset-lg-0">
                <div class="row" style="margin-top: 30px;">
                    <div class="col">
                        <div class="card" style="box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 100%;">
                                <h4 class="card-title" style="color: rgb(0,0,0);text-align: left;width: 100%;">Historial de Tickets Complettados a tiempo vs a Destiempo</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 offset-sm-1 offset-lg-0">
                <div class="row" style="margin-top: 30px;">
                    <div class="col">
                        <div class="card" style="box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 262px;">
                                <h4 class="card-title" style="color: rgb(0,0,0);text-align: left;width: 1000px;">Satisfacción de clientes&nbsp;</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 offset-sm-1 offset-lg-0">
                <div class="row" style="margin-top: 30px;">
                    <div class="col">
                        <div class="card" style="box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 262px;">
                                <h4 class="card-title" style="color: rgb(0,0,0);text-align: left;width: 1000px;">Tiempos Promedio de respuesta</h4>
                            </div>
                            <div class="row" style="margin-bottom: 40px;">
                                <div class="col">
                                    <div class="card" style="margin-left: 15px;margin-right: 15px;width: 150px;height: 150px;">
                                        <div class="card-body shadow" style="background: #f9e24c;border-radius: 16px;">
                                            <h4 class="card-title" style="text-align: center;color: rgb(0,0,0);">Database</h4>
                                            <h4 class="card-title" style="text-align: center;color: #9e6b05;margin-top: 24px;font-size: 34px;font-weight: bold;">34hrs</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="margin-left: 15px;margin-right: 15px;width: 150px;height: 150px;">
                                        <div class="card-body shadow" style="background: #f9e24c;border-radius: 16px;">
                                            <h4 class="card-title" style="text-align: center;color: rgb(0,0,0);">Database</h4>
                                            <h4 class="card-title" style="text-align: center;color: #9e6b05;margin-top: 24px;font-size: 34px;font-weight: bold;">34hrs</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="margin-left: 15px;margin-right: 15px;width: 150px;height: 150px;">
                                        <div class="card-body shadow" style="background: #f9e24c;border-radius: 16px;">
                                            <h4 class="card-title" style="text-align: center;color: rgb(0,0,0);">Database</h4>
                                            <h4 class="card-title" style="text-align: center;color: #9e6b05;margin-top: 24px;font-size: 34px;font-weight: bold;">34hrs</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="margin-left: 15px;margin-right: 15px;width: 150px;height: 150px;">
                                        <div class="card-body shadow" style="background: #f9e24c;border-radius: 16px;">
                                            <h4 class="card-title" style="text-align: center;color: rgb(0,0,0);">Database</h4>
                                            <h4 class="card-title" style="text-align: center;color: #9e6b05;margin-top: 24px;font-size: 34px;font-weight: bold;">34hrs</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="margin-left: 15px;margin-right: 15px;width: 150px;height: 150px;">
                                        <div class="card-body shadow" style="background: #f9e24c;border-radius: 16px;">
                                            <h4 class="card-title" style="text-align: center;color: rgb(0,0,0);">Database</h4>
                                            <h4 class="card-title" style="text-align: center;color: #9e6b05;margin-top: 24px;font-size: 34px;font-weight: bold;">34hrs</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>