<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col" style="color: var(--bs-purple);background: #A2C7E2;">
                <div></div>
                <h1 style="color: var(--bs-gray-900);margin-left: 20px;font-weight: bold;">Nuevo Tipo de Incidencia</h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        <div class="row register-form" style="margin-left: 0px;margin-right: 0px;">
            <div class="col-md-8 offset-md-2" style="margin-left: 20px;width: 550px;height: 600px;border-width: 0px;border-color: var(--bs-pink);">
                <form class="custom-form" style="width: 530px;margin: 0px;padding: 0px;height: 590px;text-align: left;">
                    <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 12px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;text-align: left;">Información Básica</h1>
                    <div class="row form-group" style="width: 550px;">
                        <div class="col-sm-4 label-column" style="width: 150px;text-align: left;"><label class="col-form-label" for="name-input-field" style="margin-left: 30px;">Nombre</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group" style="width: 550px;">
                        <div class="col-sm-4 label-column" style="width: 150px;text-align: left;"><label class="col-form-label" for="name-input-field" style="margin-left: 30px;">SLA</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col" style="width: 500px;">
                            <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 12px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;">Preguntas de la Incidencia</h1>
                        </div>
                    </div>
                    <div class="row form-group" style="width: 550px;">
                        <div class="col-sm-4 label-column" style="width: 500px;text-align: left;margin-left: 30px;"><label class="col-form-label" for="name-input-field">1. ¿Cuál es el ID del producto que no se encuentra visible?</label></div>
                    </div>
                    <div class="row form-group" style="width: 550px;">
                        <div class="col-sm-4 label-column" style="width: 500px;text-align: left;margin-left: 30px;"><label class="col-form-label" for="name-input-field">2. ¿A que tablas pertenece el producto?</label></div>
                    </div>
                    <div class="row form-group" style="height: 60px;">
                        <div class="col" style="height: 60px;text-align: left;width: 550px;"><button class="btn btn-light submit-button" type="button" style="background: rgb(0,0,0);margin: 0px;margin-left: 30px;"><i class="fa fa-plus-square" style="margin-right: 20px;"></i>Nueva pregunta&nbsp;</button></div>
                    </div>
                    <div class="row form-group" style="height: 60px;">
                        <div class="col" style="height: 60px;text-align: center;width: 550px;"><button class="btn btn-light submit-button" type="button" style="background: #339e35;margin: 0px;margin-left: 30px;">Crear Nuevo Tipo de Incidencia</button></div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 0px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;text-align: center;color: rgb(0,0,0);font-size: 31px;">Tipos de incidencias Existentes</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100</td>
                                <td>Logo no se visualiza</td>
                            </tr>
                            <tr>
                                <td>110</td>
                                <td>Problema de Interfaz</td>
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>Problema de BD</td>
                            </tr>
                            <tr>
                                <td>130</td>
                                <td>Envío atrasado</td>
                            </tr>
                            <tr>
                                <td>140</td>
                                <td>Página no carga</td>
                            </tr>
                            <tr>
                                <td>150</td>
                                <td>Página no existe</td>
                            </tr>
                            <tr>
                                <td>160</td>
                                <td>Servidor abajo</td>
                            </tr>
                            <tr>
                                <td>170</td>
                                <td>Botón no funciona</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>