<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col" style="color: var(--bs-purple);background: #A2C7E2;">
                <div></div>
                <h1 style="color: var(--bs-gray-900);margin-left: 20px;font-weight: bold;">Nuevo Ticket</h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        <div class="row register-form" style="margin-left: 0px;margin-right: 0px;width: 1200px;">
            <div class="col-md-8 offset-md-2" style="margin-left: 0px;width: 550px;height: 600px;border-width: 0px;border-color: var(--bs-pink);">
                <form class="custom-form" style="width: 530px;margin: 0px;padding: 0px;height: 590px;">
                    <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 12px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;">Información General</h1>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Asunto</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="email-input-field">Descripción</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="email" style="width: 380px;height: 200px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="dropdown-input-field">Prioridad</label></div>
                        <div class="col-sm-4 input-column" style="width: 395px;">
                            <div class="dropdown"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 380px;">Seleccionar prioridad</button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="dropdown-input-field">Tipo de Incidencia</label></div>
                        <div class="col-sm-4 input-column" style="width: 395px;">
                            <div class="dropdown"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 380px;">Seleccionar tipo de incidencia</button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div><button class="btn btn-light submit-button" type="button">Siguiente</button>
                </form>
            </div>
            <div class="col-md-8 offset-md-2" style="margin-left: 20px;width: 550px;height: 600px;border-width: 0px;border-color: var(--bs-pink);">
                <form class="custom-form" style="width: 530px;margin: 0px;padding: 0px;height: 590px;">
                    <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 12px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;">Información Adicional</h1>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 1</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 2</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 3</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 4</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 5</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 7</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div><button class="btn btn-light submit-button" type="button">Crear Ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>