<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col-md-12 offset-2 offset-sm-1 offset-md-0 offset-xxl-0" style="color: var(--bs-purple);background: #ff595a;text-align: center;">
                <div></div>
                <h1 style="color: #ffffff;margin: 0px;margin-left: 0px;">Nuevo Ticket</h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-9 col-sm-9 col-lg-5 col-xl-5 col-xxl-5 offset-3 offset-sm-9 offset-lg-0 offset-xxl-0" style="margin-left: 40px;box-shadow: 0px 0px 17px rgb(145,145,145);">
                <form style="margin-right: 30px;margin-left: 30px;margin-bottom: 100px;">
                    <div class="row">
                        <div class="col" style="padding: 30px 0px;">
                            <h1 class="text-dark" style="background: rgba(255,89,90,0);text-align: center;border-radius: 20px;color: rgb(255,255,255);">Información General</h1>
                        </div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Asunto</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Descripción</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Prioridad</label></div>
                        <div class="col">
                            <div class="dropdown shadow"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Tipo de Incidencia</label></div>
                        <div class="col">
                            <div class="dropdown shadow"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Labels</label></div>
                        <div class="col">
                            <div class="dropdown shadow"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" style="padding: 30px 0px;padding-top: 0px;">
                    <div class="col" style="text-align: center;"><button class="btn btn-primary shadow" type="button" style="background: rgb(0,0,0);border-width: 0px;">Siguiente</button></div>
                </div>
            </div>
            <div class="col-9 col-lg-5 col-xl-5 col-xxl-5 offset-3 offset-sm-3 offset-lg-1 offset-xl-1 offset-xxl-1" style="padding-left: 12px;box-shadow: 0px 0px 20px rgb(162,162,162);">
                <form style="margin-right: 30px;margin-left: 30px;margin-bottom: 100px;">
                    <div class="row">
                        <div class="col" style="padding: 30px 0px;">
                            <h1 class="text-dark" style="background: rgba(255,89,90,0);text-align: center;border-radius: 20px;">Información Adicional</h1>
                        </div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Pregunta 1</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Pregunta 2</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Pregunta 3</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Pregunta 4</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="padding: 15px 0px;">
                        <div class="col-xxl-4"><label class="col-form-label text-dark">Pregunta 5</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                </form>
                <div class="row" style="padding: 30px 0px;">
                    <div class="col" style="text-align: center;"><button class="btn btn-primary shadow" type="button" style="background: rgb(0,0,0);border-width: 0px;">Crear Ticket</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>