<%- include('includes/header.ejs') %>

<style>
    ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>
<div style="display: flex;justify-content: center;width:900px;height: 500px;overflow-y: scroll;margin:80px auto">
  <!-- <div class="row" style="box-shadow: 0px 0px 20px;width: 1200px;height: 1000px;margin-left: 400px;"> -->
    <div class="col" style="width: 1000px;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-9">
                        <h1>Asunto: Problema con tabla en BD</h1>
                    </div>
                    <div class="col" style="text-align: right;">
                        <h2>Ticket #1234892</h2>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;padding-top: 30px;">
                    <div class="col-xxl-2">
                        <h4>Tipo de incidencia</h4>
                    </div>
                    <div class="col" style="text-align: right;">
                        <form><input class="form-control" type="text" style="box-shadow: 0px 0px 7px rgba(145,145,145,0.45);"></form>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;padding-top: 10px;">
                    <div class="col-xxl-3">
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;background: rgb(176,176,176);border-width: 0px;border-right-width: 0px;">Dropdown </button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </div>
                    <div class="col">
                        <h4 style="text-align: right;">Estado</h4>
                    </div>
                    <div class="col">
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;background: #efb22d;border-width: 0px;border-right-width: 0px;">En progreso</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <h4 style="text-align: right;">Prioridad</h4>
                    </div>
                    <div class="col" style="text-align: right;width: 100%;">
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;background: var(--bs-red);border-width: 0px;border-right-width: 0px;">Urgente</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Descripción</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="border-right-width: 0px;border-right-style: solid;margin: 10px;box-shadow: 0px 0px 7px rgb(183,183,183);">
                        <p class="border-primary" style="border-radius: 18px;padding: 10px;border-right: 0px solid rgb(0,0,0);">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp; Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br><br><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-dark mb-2">Información Extra</h4>
                        <div class="row">
                            <div class="col" style="border-right-width: 0px;border-right-style: solid;margin: 0px;padding: 0px;margin-left: 30px;">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col"><label class="col-form-label">1.&nbsp; ¿Cuál es el ID del producto?</label></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><input class="form-control" type="text"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><label class="col-form-label">2.&nbsp; ¿Qué error marca la página?</label></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><input class="form-control" type="text" style="margin-bottom: 30px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-5"><img class="rounded-circle" style="width: 80px;height: 80px;" src="assets/img/WhatsApp%20Image%202021-12-02%20at%206.30.57%20AM.jpeg"></div>
                    <div class="col"><button class="btn btn-primary" type="button" style="background: rgb(0,0,0);width: 100%;margin-top: 40px;">Actualizar<i class="fa fa-refresh" style="margin-left: 15px;"></i></button></div>
                    <div class="col"><button class="btn btn-primary" type="button" style="background: rgb(0,0,0);width: 100%;margin-top: 40px;">Comentarios<i class="fa fa-comments-o" style="margin-left: 15px;"></i></button></div>
                    <div class="col"><button class="btn btn-primary" type="button" style="background: rgb(0,0,0);width: 100%;margin-top: 40px;">Asignación<i class="fa fa-user-plus" style="margin-left: 15px;"></i></button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/foot.ejs') %>