<%- include('includes/head.ejs') %>

    <h2>Para ingresar al sitio, introduce tus datos de acceso:</h2>
    <form id="form_login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="correo">Correo Electronico: </label>
        <input type="text" id="correo" name="correo" placeholder="Pedro">
        <label for="contrasenia">Contraseña: </label>
        <input type="password" id="password" name="contrasenia">
        <br><br>
        <input type="submit"class="btn btn-primary mt-3" value="Enviar">
    </form>
    <br><br>
<%- include('includes/foot.ejs') %>