<%- include('../includes/head.ejs') %>

    <div class="container">
      <div class="row justify-content-center">
        <form id="form_signup" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <label for="nombre">Nombre de usuario: </label>
          <input type="text" id="nombre" name="nombre" placeholder="Pedro">
          <label for="contrasenia">Contraseña: </label>
          <input type="password" id="contrasenia" name="contrasenia">
          <label for="correo">Correo electrónico: </label>
          <input type="text" id="correo" name="correo" placeholder="pedro@zeb.mx">
          <br>
          <button type="submit" class="btn btn-primary mt-3" id="enviar">Submit</button>
        </form>
      </div>
    </div>
<%- include('../includes/foot.ejs') %>

